@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;

}

.container {
  width: 100%;
  height: 43.6em;
  display: flex;
  flex-direction: row;

}

img {
  max-width: 45%;
  max-height: 100%;
}

.mobile {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5em;
}

.we {
  font-size: 50px;
  letter-spacing: 0.18em;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.coming,
.soon {
  font-size: 50px;
  letter-spacing: 0.18em;
  font-weight: 600;
}

.we,
.coming,
.soon {
  line-height: 55px;
}

.p1 {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.svg-hero {
  padding-top: 3.5em;
}

.p2 {
  padding-top: 1.8em;
  color: hsl(0, 36%, 70%);
  max-width: 70%;
  line-height: 26px;
}

form {
  padding-top: 37px;
}

.email {
  width: 25em;
  height: 3.5em;
  border-radius: 5em;
  border: 1px solid hsl(0, 36%, 70%);
  padding-left: 20px;
}


::placeholder {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

button {
  width: 6em;
  height: 3.5em;
  border-radius: 5em;
  background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  margin-left: -70px;
}

.input {
  display: flex;
  flex-direction: row;
}

.svg {
  position: relative;
  right: 90px;
  top: 15px;
  display: none;
  margin: 0;
}

.p3 {
  padding-left: 40px;
  color: hsl(0, 93%, 68%);
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  display: none;
}

@media screen and (max-width: 56em) {
  .container {
    flex-direction: column-reverse;
    height: 100%;
    align-items: center;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    min-width: 100%;

  }

  .text {
    align-items: center;
    padding-left: 0em;
  }

  .svg-hero {
    padding-top: 2.8em;
    height: 8em;
    padding-right: 3.5em;
  }

  .p1 {
    padding-top: 90px;
  }

  .we {
    text-align: center;
  }

  .soon {
    align-self: center;
  }


}